@model IEnumerable<ShoppingSystemMVC.Models.ItemViewModel>

@{
    ViewBag.Title = "ItemDetails";
}

<h2>ItemDetails</h2>
<style type="text/css">
    body {
        background-image: url('../Images/all.jpg');
        background-position: inherit;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        font-family: sans-serif;
        margin-top: 40px
    }
</style>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemPrice)
        </td>
        <td>
            @Html.ActionLink("AddToCart", "ADDCART", new { /* id=item.PrimaryKey */ }) 

           @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |

            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
